.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}


.success-container h1 {
    color: var(--color-success);
    font-size: 3rem;
    margin: 22px 0px;
}

.success-container p {
    color: var(--text-primary);
    font-size: 1.5rem;
    margin: 20px 0px;
}

#ticket-btn{
    background-color: #0056b3;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    
    /* El brillo sutil inicial*/
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.4);
}

#ticket-btn:hover {
    background-color: #007bff;
    border-color: #00a2ff;
    
    /* Brillo intenso */
    box-shadow: 0 0 18px rgba(0, 162, 255, 0.8);
    transform: translateY(-1px); /* Un pequeño salto sutil */
}

/* Efecto Active (Cuando lo clickeás) */
#ticket-btn:active {
    transform: translateY(1px);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

#back-btn {
    background-color: #1a1a2e;
    color: #b0b0c0;
    font-weight: bold;
    font-family: 'Roboto Condensed', system-ui, sans-serif;
    padding: 10px 20px;
    border: 2px solid #30304a;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-right: 10px;
    
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

#back-btn:hover {
    background-color: #25253b; 
    color: #ffffff;
    border-color: #50507a;
    
    /* Brillo blanco/azulado sutil */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
    transform: translateY(-1px);
}

#back-btn:active {
    transform: translateY(1px);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}